#mainPopup {
  padding: 10px;
  height: 200px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}


h5 {
  text-align: center;
}
.list-group {
  margin-bottom: 10px;
}

.center,
#goal-running {
  margin: auto;
}

.icons {
  display: inline;
}

#time {
  width: 60px;
  text-align: center;
}